* {
  outline: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
.container {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.names {
  margin-right: 100px;
}

.names p {
  font: 500 24px Archivo, monospace;
  line-height: 32px;
}

.container-calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-calculator strong {
  font: 700 40px Archivo, monospace;
  margin-bottom: 16px;
}

.calculator {
  width: 350px;
  height: 400px;

  background-color: #2e2e2e;
  border-radius: 10px;
  border: 1px solid #000;
  box-shadow: 1px 1px 5px #000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  text-align: right;
  font-size: 20px;
  margin-top: 4px;
  border: solid 1px #000;
  box-shadow: 1px 1px 1px #000;

  padding: 6px;
  border-radius: 8px;
}

.label {
  font: 500 16px Archivo, monospace;
  color: white;
}

.container-input {
  margin: 12px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  width: 70%;
  margin-top: 12px;
  margin-bottom: 20px;

  background-color: #2e2e2e;
  border: solid 1px #000;
  box-shadow: 1px 1px 1px #000;

  padding: 6px;
  border-radius: 8px;

  cursor: pointer;

  color: #fff;

  font: 700 20px Archivo, monospace;

  transition: 0.3s;
}

.button:hover {
  background-color: #202020;
}
